{% extends 'base.html' %}

{% block titulo %}
Produtos
{% endblock %}

{% block conteudo %}

<div class="row" style="margin-top: 20px; margin-left: 20px;">
    <div class="col-8">
        <h2 style="text-align: center;">Produtos Disponíveis</h2>
        <p style="text-align: center;">Clique em comprar o item caso tenha interesse</p>
        <hr>
        <table class="table table-hover table-dark table-bordered">
            <thread>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Cód Barra</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Ações</th>

                </tr>
            </thread>
            <tbody>
                {% for item in itens%}
                {% include 'includes/modal_produtos.html' %}
                <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.nome}}</td>
                    <td>{{item.cod_barra}}</td>
                    <td>{{item.preco}}</td>
                    <td>
                        <button data-bs-toggle="modal" data-bs-target="#exampleModal-{{item.id}}"
                            class="btn btn-outline btn-info">Mais Informações</button>
                        <button data-bs-toggle="modal" data-bs-target="#exampleModalCompra-{{item.id}}"
                            class="btn btn-outline btn-success">Comprar esse produto</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-4">
        <h2>Produtos Adquiridos</h2>
        <p>Clique em devolver o item caso tenha interesse</p>
        <hr>
        <div class="row"></div>
        {% for dono_item in dono_itens %}

        <div class="col-mod-6">
            <div class="card text-center bg-dark" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ dono_item.nome }}</h5>
                    <button style="margin-bottom: 10px; margin-top: 10px;" data-bs-toggle="modal" data-bs-target="#"
                        class="btn btn-outline-danger" type="button">
                        Vender esse produto
                    </button>
                    <p>
                        <strong>
                            Esse produto custa R$ {{ dono_item.preco }}
                        </strong>
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>
{% endblock %}